@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}



* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
}
